.additional-products {
  .list-style();
}

.additional-products__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-top: 1px solid @pinkish-grey;
  border-bottom: 1px solid @pinkish-grey;
}

.additional-products__title {
  margin: 0;
  margin-bottom: 15px;

  .font-apply();
  font-size: 16px;
  line-height: 16px;
  color: @darker-black;

  text-transform: uppercase;
}

.additional-products__info {
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 14px;
  color: @greyish-brown;
}

.additional-products__amount {
  .font-apply(@font-family: "Arial");
}

.additional-products__value {
  .font-apply(@font-family: "Arial"; @text-align: right);
}
