.advantages {
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px 47px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 41px;

  .font-apply();
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.advantages__list {
  .list-style();
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 60px;
    height: 60px;

    background-color: @leaf;
  }

  &--ingredients::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
  }

  &--comfort::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
  }

  &--replacement::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
  }

  &--time::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    padding: 51px 30px 105px;

    border-bottom: 1px solid @header-grey;
  }

  .advantages__title {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 245px;
    margin-right: 180px;
    margin-bottom: 137px;
    padding-top: 117px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n) {
      margin-right: auto;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      width: 80px;
      height: 80px;

      background-color: @leaf;
    }

    &--ingredients::after {
      content: "";

      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 3;

      width: 50px;
      height: 50px;

      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
    }

    &--comfort::after {
      content: "";

      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 3;

      width: 50px;
      height: 50px;

      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
    }

    &--replacement::after {
      content: "";

      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 3;

      width: 50px;
      height: 50px;

      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
    }

    &--time::after {
      content: "";

      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 3;

      width: 50px;
      height: 50px;

      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
    }
  }

  .advantages__order {
    position: absolute;
    top: 0;
    right: 3px;
    z-index: -1;

    width: 125px;
    height: 235px;

    .font-apply;
    font-size: 281px;
    line-height: 281px;
    color: @grey;

    &--first::after {
      content: "1";

      position: absolute;
      top: -40px;
      left: 0;
      z-index: -2;
    }

    &--second::after {
      content: "2";

      position: absolute;
      top: -40px;
      left: 0;
      z-index: -2;
    }

    &--third::after {
      content: "3";

      position: absolute;
      top: -40px;
      left: 0;
      z-index: -2;
    }

    &--fourth::after {
      content: "4";

      position: absolute;
      top: -40px;
      left: 0;
      z-index: -2;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1440px;
    padding: 79px 110px 0;

    border-bottom: none;
  }

  .advantages__item {
    margin-right: auto;
    margin-bottom: 75px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
