.advantages {
  width: 320px;
  margin: 0 auto;
  padding: 32px 20px 47px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 41px;

  .font-apply();
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.advantages__list {
  .list-style();
}

.advantages__item {
  margin-bottom: 32px;
  padding-left: 60px;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    padding: 51px 30px 55px;

    border-bottom: 1px solid @header-grey;
  }

  .advantages__title {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 240px;
    margin-right: 183px;
    margin-bottom: 0;
    padding-top: 117px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n) {
      margin-right: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1440px;
    padding: 79px 110px 50px;

    border-bottom: none;
  }

  .advantages__item {
    margin-right: auto;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
