.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 82px 20px 25px 20px;

  border: 1px solid @products-grey;
}

.all-products__title {
  margin: 0;
  margin-bottom: 11px;

  .font-apply(@text-align: center);
  font-size: 16px;
  line-height: 20px;
  color: @black;

  text-transform: uppercase;
}

.all-products__info {
  margin: 0;
  margin-bottom: 22px;

  .font-apply(@font-family: "Arial"; @text-align: center);
  font-size: 12px;
  line-height: 16px;
  color: @greyish-brown;
}

.all-products__button {
  display: inline-block;
  vertical-align: center;
}

@media (min-width: @tablet-width) {
  .all-products {
    width: 324px;
    padding: 166px 37px 40px 38px;
  }

  .all-products__title {
    width: 135px;
    margin-bottom: 28px;

    font-size: 20px;
  }

  .all-products__info {
    width: 170px;
    margin-bottom: 85px;

    font-size: 16px;
  }

  .all-products__button {
    width: 249px;
    padding: 11px 93px 12px 93px;
  }
}

@media (min-width: @desktop-width) {
  .all-products {
    width: 245px;
  }

  .all-products__button {
    width: 169px;
    padding: 14px 35px 14px 35px;
  }
}
