.button {
  width: 280px;
  padding: 12px 110px;

  .font-apply(@text-align: center);
  text-align: center;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @leaf;

  &--grey {
    color: @greyish-brown;

    background-color: @grey;
  }
}
