.button {
  padding-top: 14px;
  padding-right: 74px;
  padding-bottom: 11px;
  padding-left: 73px;

  .font-apply(@text-align: center);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @leaf;
}

.button--grey {
  background-color: @grey;
}
