.catalog-main {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .catalog-main {
    padding: 164px 30px 64px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main {
    padding: 165px 110px 74px;
  }
}
