.catalog-additional {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 320px;
  padding: 31px 0 33px;
  margin: 0 auto;
}

.catalog-additional__title {
  width: 268px;
  margin: 0;
  margin-bottom: 33px;
  padding-left: 20px;

  .font-apply();
  font-size: 24px;
  line-height: 24px;
  color: @black;

  background-color: @white;

  &::after {
    content: "";

    position: absolute;
    top: 44px;
    z-index: -2;

    width: 3000px;
    height: 3px;

    background-color: @leaf;
  }
}

.catalog-additional__list {
  margin-bottom: 37x;
}

@media (min-width: @tablet-width) {
  .catalog-additional {
    width: @tablet-width;
    padding: 0 30px 76px;
  }

  .catalog-additional__title {
    width: 410px;
    margin-bottom: 79px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
    }
  }

  .catalog-additional__list {
    margin-bottom: 69px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional {
    width: @desktop-width;
    padding: 0 110px 86px 73px;
  }

  .catalog-additional__list {
    margin-bottom: 0;
  }
}
