.catalog-main {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .catalog-main {
    padding: 0 30px 71px 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main {
    padding: 0 110px 79px 110px;
  }
}
