.catalog-main {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .catalog-main {
    width: @tablet-width;
    margin: 0 auto;
    padding: 164px 30px 64px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main {
    width: @desktop-width;
    padding: 165px 40px 74px;
  }
}
