.catalog-additional {
  width: 100%;
  padding: 31px 0 33px;
}

.catalog-additional__title-wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog-additional__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-additional__title {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 33px;

  .font-apply();
  font-size: 24px;
  line-height: 24px;
  color: @black;

  &::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 3px;

    background-color: @leaf;
  }
}

.catalog-additional__title-text {
  width: auto;
  padding: 0 20px;

  background-color: @white;
}

.catalog-additional__list {
  margin-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .catalog-additional {
    padding: 0 0 76px;
  }

  .catalog-additional__title-wrapper {
    width: @tablet-width;
  }

  .catalog-additional__wrapper {
    width: @tablet-width;
    padding: 0 30px;
  }

  .catalog-additional__title {
    margin-bottom: 84px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
    }
  }

  .catalog-additional__title-text {
    margin-left: 30px;
    padding: 0 37px;
  }

  .catalog-additional__list {
    margin-bottom: 69px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional {
    padding: 0 0 86px;
  }

  .catalog-additional__title-wrapper {
    width: @desktop-width;
  }

  .catalog-additional__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: @desktop-width;
    padding: 0 40px;
  }

  .catalog-additional__title-text {
    margin-left: 0;
  }

  .catalog-additional__list {
    margin-bottom: 0;
  }
}
