.contacts__wrapper {
  background-color: @white;
}

.contacts__title {
  .font-apply;
  font-size: 16px;
  line-height: 20px;
  color: @black-three;
  text-transform: uppercase;
}

.contacts__info {
  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 20px;
  color: @greyish-brown;
}
