.contacts__wrapper {
  padding: 31px 20px 26px 20px;

  &--white {
    background-color: @white;
  }
}

.contacts__title {
  margin: 0;
  margin-right: 19px;

  .font-apply;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
}

.contacts__info {
  margin: 0;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 20px;
  color: @greyish-brown;
}
