.contacts {
  margin-bottom: 39px;
  padding-top: 31px;
}

.contacts__wrapper {
  background-color: @white;
}

.contacts__title {
  margin-right: 19px;
  margin-bottom: 26px;
  padding-left: 19px;

  .font-apply;
  font-size: 16px;
  line-height: 20px;
  color: @black-three;
  text-transform: uppercase;
}

.contacts__info {
  margin-bottom: 26px;
  padding-right: 25px;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 20px;
  color: @greyish-brown;
}
