.example {
  width: 320px;
  margin: 0 auto;
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 28px 20px 0;
  background-color: @grey;
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  .font-apply();
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.example__results-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.example__info {
  width: 266px;
  margin: 0;
  margin-bottom: 27px;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;
}

.example__statistic {
  width: auto;
  margin-bottom: 17px;
}

.example__costs {
  margin: 0 auto;
  margin-bottom: 44px;

  .font-apply(@text-align: center);
  font-size: 14px;
  line-height: 20px;
  color: @black;

  text-transform: uppercase;
}

.example__visual {
  position: relative;
  width: 320px;
  min-height: 320px;
  padding-top: 261px;
}

.example__image {
  &--before {
    display: none;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 0;
  }

  &--after {
    display: none;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 0;
  }
}

.example__toggles {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin: 0 auto;

  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 55px;
    z-index: 7;

    width: 84px;
    height: 14px;
    border-radius: 6px;

    background-color: @white;

    border: solid 1px @pinkish-grey;
  }
}

.example__toggle {
  position: relative;

  .font-apply();
  font-size: 16px;
  line-height: 20px;
  color: @black;

  text-transform: uppercase;

  &--left::before {
    display: none;

    content: "";

    position: absolute;
    top: 9px;
    right: -58px;
    z-index: 10;

    width: 35px;
    height: 6px;
    border-radius: 3px;

    background-color: @leaf;
  }

  &--right::before {
    display: none;

    content: "";

    position: absolute;
    top: 9px;
    left: -61px;
    z-index: 10;

    width: 35px;
    height: 6px;
    border-radius: 3px;

    background-color: @leaf;
  }
}

.example__radio--previous:checked ~ .example__toggles .example__toggle--left::before {
  display: block;
}

.example__radio--current:checked ~ .example__toggles .example__toggle--right::before {
  display: block;
}

.example__radio--previous:checked ~ .example__image-wrapper .example__image--before {
  display: block;
}

.example__radio--current:checked ~ .example__image-wrapper .example__image--after {
  display: block;
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-width;
  }

  .example__wrapper {
    padding: 51px 0 0;

    background-color: @white;
  }

  .example__title {
    margin-bottom: 60px;
    padding-left: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__results-wrapper {
    padding: 0 30px 255px;
  }

  .example__info {
    width: 675px;
    margin-bottom: 56px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__statistic {
    margin-bottom: 0;
  }

  .example__costs {
    width: 174px;
    margin: 0;
    margin-left: auto;
    padding-top: 13px;

    .font-apply(@text-align: right);
    font-size: 20px;
    line-height: 25px;
  }

  .example__visual {
    position: relative;
    width: 768px;
    height: 462px;
    padding-top: 369px;

    background-color: @grey;
  }

  .example__image-wrapper {
    position: absolute;
    width: 384px;

    overflow-x: hidden;

    &--before {
      top: -175px;
    }

    &--after {
      left: 384px;
      top: -169px;
    }
  }

  .example__image {
    min-width: 690px;
    min-height: 517px;
    margin: 0;

    &--before {
      display: block;
      position: relative;
      left: 46px;
      z-index: 1;
    }

    &--after {
      display: block;
      position: relative;
      left: -335px;
      z-index: 1;
    }
  }

  .example__toggles {
    width: 568px;

    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 67px;
      z-index: 7;

      width: 428px;
      height: 6px;
      border-radius: 2.5px;

      background-color: @range-grey;

      border: none;
    }

    &::before {
      content: "";

      position: absolute;
      top: -5px;
      left: 270px;
      z-index: 8;

      width: 34px;
      height: 34px;
      border-radius: 50%;

      background-color: @white;

      border: solid 1px @pinkish-grey;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      &:hover,
      &:focus {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }

      &:active {
        border: solid 2px @leaf;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  .example__toggle {
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted @underline-grey;

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(152, 152, 152, 0.4);
    }

    &:active {
      border-bottom: none;
    }

    &--left::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 283px;
      z-index: 9;

      width: 8px;
      height: 8px;
      border-radius: 50%;

      background-color: @leaf;

      border: none;
    }
  }

  .example__radio-previous:checked ~ .example__toggle--left::before {
    display: none;
  }

  .example__radio-current:checked ~ .example__toggle--right::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: @desktop-width;
  }

  .example__wrapper {
    padding: 65px 0 0;
  }

  .example__title {
    width: 100%;
    margin-bottom: 66px;
    padding-left: 110px;
  }

  .example__results-wrapper {
    width: 650px;
    padding: 75px 110px;

    background-color: @grey;
  }

  .example__info {
    width: 430px;
    margin-bottom: 71px;
  }

  .example__statistic {
    margin-bottom: 30px;
  }

  .example__costs {
    width: 326px;
    margin: 0;
    padding-top: 0;

    .font-apply();
    font-size: 20px;
    line-height: 20px;
  }

  .example__costs span {
    margin-left: 57px;
  }

  .example__visual {
    width: 790px;
  }

  .example__image-wrapper {
    width: 395px;

    &--before {
      top: -183px;
    }

    &--after {
      left: 395px;
      top: -185px;
    }
  }

  .example__image {
    &--before {
      left: 30px;
    }

    &--after {
      left: -363px;
    }
  }
}
