.example {
  width: 320px;
  margin: 0 auto;
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 33px 20px 38px;
  background-color: @grey;
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  .font-apply();
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.example__results-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.example__info {
  width: 266px;
  margin: 0;
  margin-bottom: 27px;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;
}

.example__element {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 124px;
  margin: 0;
  margin-bottom: 38px;
  padding: 13px 20px;

  border: 1px solid @pinkish-grey;
  border-radius: 3px;

  &:nth-of-type(2n) {
    margin-right: 32px;
  }
}

.example__amount {
  width: 100%;

  .font-apply(@text-align: center);
  font-size: 24px;
  line-height: 24px;
  color: @black;

  text-transform: uppercase;
}

.example__action {
  position: absolute;
  bottom: -23px;
  left: 18px;
  width: 87px;
  padding: 5px 15px;

  .font-apply(@font-family: "Arial"; @text-align: center);
  font-size: 12px;
  line-height: 12px;
  color: @greyish-brown;

  background-color: @grey;
}

.example__costs {
  margin: 0 auto;
  margin-bottom: 44px;

  .font-apply(@text-align: center);
  font-size: 14px;
  line-height: 20px;
  color: @black;

  text-transform: uppercase;
}

.example__visual {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.example__image {
  margin-bottom: 35px;

  &--before {
    z-index: 1;
  }

  &--after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.example__toggles {
  display: flex;
  width: 200px;
  margin: 0 auto;
}

.example__toggle {
  .font-apply();
  font-size: 16px;
  line-height: 20px;
  color: @black;

  text-transform: uppercase;

  &--left {
    margin-right: 105px;
  }
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-width;
  }

  .example__wrapper {
    padding: 51px 0 0;

    background-color: @white;
  }

  .example__title {
    margin-bottom: 60px;
    padding-left: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__results-wrapper {
    padding: 0 30px 86px;
  }

  .example__info {
    width: 675px;
    margin-bottom: 56px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__element {
    width: 162px;
    margin-bottom: 0;
    padding: 16px 29px;

    &:nth-of-type(2n) {
      margin-right: 42px;
    }
  }

  .example__amount {
    font-size: 30px;
    line-height: 37px;
  }

  .example__action {
    bottom: -15px;
    left: 10px;
    width: 142px;
    padding: 8px 7px;

    font-size: 14px;
    line-height: 14px;

    background-color: @white;
  }

  .example__costs {
    width: 174px;
    margin: 0;
    margin-left: auto;
    padding-top: 13px;

    .font-apply(@text-align: right);
    font-size: 20px;
    line-height: 25px;
  }

  .example__visual {
    min-height: 631px;
  }

  .example__image-wrapper {
    width: 384px;
    height: 462px;
    padding-bottom: 114px;

    overflow-x: hidden;
    overflow-y: visible;

    &--before {
      padding-left: 46px;

      background-color: @grey;
    }

    &--after {
      padding-right: 86px;

      background-color: @example-grey;
    }
  }

  .example__image {
    min-width: 690px;
    min-height: 517px;
    margin: 0;

    &--after {
      position: static;
    }
  }

  .example__toggles {
    position: absolute;
    bottom: 68px;
    left: 99px;
    z-index: 2;
    width: 568px;
  }

  .example__toggle {
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted rgba(190, 190, 190, 0.23);

    &--left {
      margin-right: 473px;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: @desktop-width;
  }

  .example__wrapper {
    padding: 90px 0 0;
  }

  .example__title {
    width: 100%;
    margin-bottom: 66px;
    padding-left: 110px;
  }

  .example__results-wrapper {
    width: 540px;
    padding: 76px 0 75px 110px;

    background-color: @grey;
  }

  .example__info {
    width: 430px;
    margin-bottom: 71px;
  }

  .example__element {
    margin-bottom: 62px;
  }

  .example__action {
    background-color: @grey;
  }

  .example__costs {
    width: 326px;
    margin: 0;
    padding-top: 0;

    .font-apply();
    font-size: 20px;
    line-height: 20px;
  }

  .example__costs span {
    margin-left: 57px;
  }

  .example__visual {
    width: auto;
    min-height: 652px;
  }

  .example__image-wrapper {
    padding-bottom: 135px;

    &--before {
      width: 500px;
      padding-left: 134px;
    }

    &--after {
      width: 395px;
      padding-right: 124px;
    }
  }

  .example__toggles {
    left: 219px;
  }
}
