.gift-promo {
  padding: 190px 61px 43px 60px;

  background-color: @leaf;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gift-promo__info {
  margin: 0;

  .font-apply(@font-family: "Arial"; @text-align: center);
  font-size: 16px;
  line-height: 20px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .gift-promo {
    width: 708px;
    padding: 75px 125px 69px 424px;

    background-color: @leaf;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .gift-promo__info {
    .font-apply(@font-family: "Arial");
  }
}

@media (min-width: @desktop-width) {
  .gift-promo {
    width: 245px;
    padding: 190px 43px 43px 43px;

    background-color: @leaf;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .gift-promo__info {
    .font-apply(@font-family: "Arial"; @text-align: center);
  }
}
