.main-nav__list {
  .list-style();
}

.main-nav__item {
  .font-apply(@text-align: center);
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  border-bottom: 1px solid @header-grey;
}

.main-nav__link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  text-decoration: none;
  color: @black;
}
