.page-footer {
  background-color: @grey;
}

.page-footer__social {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  .border(@side: top);
  .border(@side: bottom);
}

.page-footer__logo {
  margin-bottom: 30px;

  text-align: center;
}
