.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: inline-block;
  width: 191px;
  height: 39px;
  margin: 12px 0 15px 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: @tablet-width;
    padding: 24px 30px 0;
  }

  .page-header__logo {
    width: 174px;
    height: 59px;
    margin: 0;
    margin-right: auto;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    padding: 53px 110px 0;

    &--background {
      min-height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 720px 696px;
      background-position: 720px 0;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .page-header__logo {
    width: 203px;
    height: 60px;
  }
}
