.page-main__heading {
  margin: 0;
  margin-bottom: 35px;
  padding: 30px 20px 0 20px;

  .font-apply();
  font-size: 36px;
  line-height: 60px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .page-main__heading {
    margin-bottom: 156px;
    padding: 72px 30px 0 30px;

    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__heading {
    padding: 88px 110px 0 110px;
  }
}
