.page-footer {
  background-color: @grey;
}

.page-footer__social {
  padding: 25px 20px 23px 20px;

  border-top: 1px solid @social-grey;
  border-bottom: 1px solid @social-grey;
}

.page-footer__logo {
  margin-bottom: 30px;

  text-align: center;
}
