.products__item {
  padding-right: 20px;
  padding-left: 20px;

  .border(@color: @two-grey);
}

.products__title {
  margin-bottom: 18px;
  padding-top: 25px;

  .font-apply;
  font-size: 16px;
  line-height: 20px;
  color: @black-three;
}

.products__link {
  color: @black-three;
  text-decoration: none;
}

.products__info {
  margin-bottom: 23px;

  .font-apply(@font-family: "Arial");
  font-size: 12px;
  line-height: 16px;
  color: @greyish-brown;
}

.products__value {
  text-align: right;
}

.products__button {
  margin-bottom: 25px;
}
