.product-groups__item {
  background-color: @grey;
}

.product-groups__list {
  .list-style;
}

.product-groups__title {
  .font-apply;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black-three;
}

.product-groups__description {
  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;
}

.product-groups__link {
  .font-apply;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black-three;
  text-decoration: none;
}
