.product-groups {
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;
}

.product-groups__item {
  margin-bottom: 20px;
  padding-top: 39px;
  padding-right: 36px;
  padding-bottom: 22px;
  padding-left: 21px;

  background-color: @grey;
}

.product-groups__item:last-of-type {
  margin-bottom: 0px;
}

.product-groups__list {
  .list-style;
}

.product-groups__title {
  margin: 0;
  margin-bottom: 36px;

  .font-apply;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black-three;
}

.product-groups__description {
  margin: 0;
  margin-bottom: 45px;

  .font-apply(@font-family: "Arial");
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;

  .border(@side: bottom);
}

.product-groups__link {
  .font-apply;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black-three;
  text-decoration: none;
}
