@fontRegular: "Oswald";
@fontMedium: "@{fontRegular}-Medium";
@leaf: #68b738;
@grey: #f2f2f2;
@white: #ffffff;
@black-three: #111111;
@greyish-brown: #444444;
@pinkish-grey: #cdcdcd;
@products-grey: #ededed;
@black-two: #222222;

